{%extends 'layout.html' %}

{% block content %}
<center><h1>Instructions</h1></center>

<p>
We are gathering data to improve the speech recognition in 
<a href="http://www.speech.cs.cmu.edu/letsgo/">Let's Go</a>, an automated bus
route information system. We need you to listen to 26 clips of speech from
actual callers and write out what they said{%if hard%}, any sounds they made,
and any background noises that can be heard{%endif%}. We recommend listening
with headphones. Note that some of the clips may be incomplete.
</p>

<p>
{%if hard %}
Please mark incomplete words or stuttering with a dash at the start or end of
the word, e.g. "I'm go- I'm going to South Side Works." Indicate background
noises in brackets with a description of the sound, e.g. "[cars passing by]
Forbes and Craig to Sixth and Smithfield".
{%else%}
Only write down complete words; please ignore any incomplete words, hesitations
such as  “um", or stuttering. Also ignore any background noises, such as passing
cars or throat clearing.
{%endif%}
</p>

<p>
Capitalization and punctuation don't matter as long as the words are clearly
labeled. Please write place names as fully as possible, e.g.  "Fifth Avenue"
rather than "5th Ave". Please write bus numbers as one word, e.g. "61D".  If you
are unsure of a word, please make your best guess or use three questions marks
, e.g. "???".
</p>

<h2>Examples</h2>

<p>
Example 1 contains speech only, with very little background noise:<br/>
<audio class="audio" controls>
    <source src="{{url_for('static',filename='examples/example1.wav')}}" type="audio/wav">
</audio><br/>
<b>Transcription:</b> When does the next 61D leave?
</p>

<p>
Example 2 has some background noises:<br/>
<audio class="audio" controls>
    <source src="{{url_for('static',filename='examples/example2.wav')}}" type="audio/wav">
</audio><br/>
<b>Transcription:</b> Schedule for Forbes and 
{%-if hard -%}&nbsp;[car horn]{%endif%} Murray

</p>

<p>
Example 3 includes noises from the speaker themselves: <br/>
<audio class="audio" controls>
    <source src="{{url_for('static',filename='examples/example3.wav')}}" type="audio/wav">
</audio><br/>
<b>Transcription:</b> {%-if hard -%}&nbsp;[cough]{%endif%} South Graham and Baum
</p>

<p>
Example 4 has some hesitation: <br/>
<audio class="audio" controls>
    <source src="{{url_for('static',filename='examples/example4.wav')}}" type="audio/wav">
</audio><br/>
<b>Transcription:</b>
{%if hard %}
I’m uh going to Fifth and uh Neg- Negley Avenue.
{% else %}
I'm going to Fifth and Negley Avenue.
{% endif %}
</p>

<h2> Training </h2>
<p>
Before you begin transcribing, we will provide you with a few training examples.
In these examples, you will provide a transcription, but after, we will show you
our sample result for comparison.
</p>

<p>
<h3><a href="/train/{{ userid }}"> Click here to start training. </a></h3>
</p>

{% endblock %}
