<!DOCTYPE html>
<html>
	<head>
		<title>Audio Transcription</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1> What Do You Hear? </h1>
			</div>
			{% block content %}
			{% endblock %}
			<div class="modal-footer">
<center><h1>Instructions</h1></center>

<p>
{%if hard %}
Please mark incomplete words or stuttering with a dash at the start or end of
the word, e.g. "I'm go- I'm going to South Side Works." Indicate background
noises in brackets with a description of the sound, e.g. "[vehicle noise]
Forbes and Craig to Sixth and Smithfield". We only want to know what <i>kind</i>
of noise you heard. Please use the following categories:
<ol>
    <li> [vehicle noise], e.g. a car horn, or a bus engine </li>
    <li> [person noise], e.g. laughter, coughing, etc </li>
    <li> [other noise], e.g. anything else </li>
</ol>
{%endif%}
</p>

<p>
Capitalization and punctuation don't matter as long as the words are clearly
labeled. Please write place names as fully as possible, e.g.  "Fifth Avenue"
rather than "5th Ave". Please write bus numbers as one word, e.g. "61D".  If you
are unsure of a word, please make your best guess or use three questions marks
, e.g. "???".
</p>
				<h4>Thanks for helping!</h4>
			</div>
		</div>
	</body>
</html>
