{% extends 'layout.html' %}

{% block content %}
{% if filename %}
	<div>
		<h2> Clip # {{ n }} </h2>
		<div class="hero-unit">
			<audio class="audio" controls>
			<source src="{{url_for('static',filename='audio/'+filename)}}" type="audio/wav">
			</audio><hr/>

		</div>
		<p>
		<div class="transcription">
            <form method="post" action="/submit/{{ userid }}">
				<input type="text" name="trans"/><br/>
				<input type="hidden" name="n" value={{ n }} /><br>
				<input type="submit"/>
			</form>
		</div>
		</p>
	</div>
{% else %}
	<h1> ERROR </h1>
{% endif %}
{% endblock %}
